<div class="row well">
  <div class="col-md-12">
    <h2 class="center-block"><i class="fa fa-users"></i> About Us</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-7 well about">
    <h3><i class="fa fa-user"></i> Who</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor 
      incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate l
      iceret: sese habere. Morbi fringilla convallis sapien, id pulvinar odio 
      volutpat. Morbi fringilla convallis sapien, id pulvinar odio volutpat. 
      Unam incolunt Belgae, aliam Aquitani, tertiam. Hi omnes lingua, institutis, 
      legibus inter se differunt.
    </p>
  </div>
  <div class="col-md-4 col-md-offset-1 well about">
    <h3><i class="fa fa-globe"></i> Where</h3>
    <a href="locations#downtown">Gameroom Downtown</a> is located at 1713 O St
    <br>
    <a href="locations#south">Gameroom South</a> is located at 5400 S 56th St
  </div>
  <div class="col-md-4 well about">
    <h3><i class="fa fa-clock-o"></i> When</h3>
    <a href="locations#downtown">Gameroom Downtown</a> is open from 11am - 9pm 7 days a week.
    <br>
    <a href="locations#south">Gameroom South</a> is open from 11:30am - 8:30pm 7 days a week.
  </div>
  <div class="col-md-7 col-md-offset-1 well about">
    <h3><i class="fa fa-question"></i> Why</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor 
      incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate l
      iceret: sese habere. Morbi fringilla convallis sapien, id pulvinar odio 
      volutpat. Morbi fringilla convallis sapien, id pulvinar odio volutpat. 
      Unam incolunt Belgae, aliam Aquitani, tertiam. Hi omnes lingua, institutis, 
      legibus inter se differunt.
    </p>
  </div>
  <div class="col-md-6 well about">
    <h3><i class="fa fa-gamepad"></i> What</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor
       incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate 
       liceret: sese habere. Morbi fringilla convallis sapien, id pulvinar odio 
       volutpat. Morbi fringilla convallis sapien, id pulvinar odio volutpat. 
       Unam incolunt Belgae, aliam Aquitani, tertiam. Hi omnes lingua, institutis, 
       legibus inter se differunt.
    </p>
  </div>
  <div class="col-md-5 col-md-offset-1 well about">
    <h3><i class="fa fa-tasks"></i> How</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor 
      incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate 
      liceret: sese habere. Morbi fringilla convallis sapien, id pulvinar odio 
      volutpat. Morbi fringilla convallis sapien, id pulvinar odio volutpat. 
      Unam incolunt Belgae, aliam Aquitani, tertiam. Hi omnes lingua, institutis, 
      legibus inter se differunt.
    </p>
  </div>
</div>