<div class="row">
  <div class="col-md-12">
    <div>
      <%= image_tag("logo.png", :alt => "Logo", class: "center-block img-responsive") %>
    </div>
  </div>
</div>
<div class="row">
<% @blurbs.each do |b| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <i class="fa fa-<%= b.icon %>"></i>
          <%= b.title %>
        </h4>
      </div>
      <div class="panel-body">
        <p>
          <%= b.desc %>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>
