<div class="row well">
  <div class="col-md-12">
    <%= image_tag("logo.png", class: "center-block img-responsive") %>
  </div>
</div>
<div class="row homepage">
  <div class="col-md-4 well" style="margin-right:20px;">
    <h3><i class="fa fa-money"></i> Deal of the week</h3>
    <ul>
      <li>
        Quam diu etiam furor iste tuus nos eludet? Fictum,  
        deserunt mollit anim laborum astutumque! Curabitur 
        est gravida et libero vitae dictum. Fabio vel iudice 
        vincam, sunt in culpa qui officia.
      </li>
    </ul>
  </div>
  <div class="col-md-4 well">
    <h3><i class="fa fa-eye"></i> Wanted Items list</h3>
    <ul>
      <li>
        Tu quoque, Brute, fili mi, nihil timor populi, nihil! 
        Lorem ipsum dolor sit amet, consectetur adipisici elit, 
        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
        Morbi fringilla convallis sapien, id pulvinar odio volutpat. 
        Ut enim ad minim veniam, quis nostrud exercitation.
      </li>
    </ul>
  </div>
  <div class="col-md-4 well" style="width: 354px; margin-left: 20px;">
    <h3><i class="fa fa-calendar-o"></i> Headlines</h3>
    <ul>
      <li>
        Praeterea iter est quasdam res quas ex communi. 
        Tityre, tu patulae recubans sub tegmine fagi  dolor. 
        Cras mattis iudicium purus sit amet fermentum. 
        Paullum deliquit, ponderibus modulisque suis ratio utitur.
      </li>
    </ul>
  </div>
</div>