<div class="row well">
  <div class="col-md-3 panel panel-default nav-links">
    <h5><a href="#downtown">Gameroom Downtown</a></h5>
    <h5><a href="#south">Gameroom South</a></h5>
  </div>
  <div class="col-md-9 well">
    <div>
      <h4 id="downtown"><i class="fa fa-building-o"></i> Gameroom Downtown</h4>
      <div class="panel panel-default">
        <div class="info">
          <h5><i class="fa fa-clock-o"></i> Hours| 11am - 9pm | Monday - Sunday | 1713 O St, Lincoln NE, 68508</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3019.662031853592!2d-96.696294!3d40.81342!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796befa9bdc23af%3A0x9e3f38d758bd8e91!2sThe+Gameroom!5e0!3m2!1sen!2sus!4v1396992242934" width="500" height="400" frameborder="0" style="border:0" class="center-block"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 well col-md-offset-3">
    <div>
      <h4 id="south"><i class="fa fa-building-o"></i> Gameroom South</h4>
      <div class="panel panel-default">
        <div class="info">
          <h5><i class="fa fa-clock-o"></i> Hours| 11:30am - 8:30pm | Monday - Sunday | 5400 S 56th St, Lincoln NE, 68516</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.1596143509505!
          2d-96.640411!3d40.758514!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87969622d3fdf0c3%3A0xae4673310be16c0c!2sGameroom!5e0!3m2!1sen!2sus!4v1396992104768" width="500" height="400" frameborder="0" style="border:0" class="center-block"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>