<div class="row well">
  <div class="col-md-3 panel panel-default nav-links">
    <h5><a href="#sell">Selling/Trading</a></h5>
    <h5><a href="#repair">Repairs</a></h5>
    <h5><a href="#disc">Disc cleaning</a></h5>
    <h5><a href="#volun">Volunteering</a></h5>
  </div>
  <div class="col-md-9 well">
    <div>
      <h4 id="sell"><i class="fa fa-money"></i> Selling/Trading</h4>
      <div class="panel panel-default">
        <div class="info">
          <p>
          Nec dubitamus multa iter quae et nos invenerat. Integer legentibus erat a ante historiarum dapibus. Fictum,  deserunt mollit anim laborum astutumque! Fictum,  deserunt mollit anim laborum astutumque! At nos hinc posthac, sitientis piros Afros.
Hi omnes lingua, institutis, legibus inter se differunt. Quis aute iure reprehenderit in voluptate velit esse. Morbi fringilla convallis sapien, id pulvinar odio volutpat. Cum ceteris in veneratione tui montes, nascetur mus. Nihil hic munitissimus habendi senatus locus, nihil horum?
Nihil hic munitissimus habendi senatus locus, nihil horum? Gallia est omnis divisa in partes tres, quarum. Praeterea iter est quasdam res quas ex communi. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Tityre, tu patulae recubans sub tegmine fagi  dolor.</p>
        </div>
      </div>
      <h4 id="repair"><i class="fa fa-wrench"></i> Repairs</h4>
      <div class="panel panel-default">
        <div class="info">
          <p>
            Integer legentibus erat a ante historiarum dapibus. Integer legentibus erat a ante historiarum dapibus. Qui ipsorum lingua Celtae, nostra Galli appellantur. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Quisque ut dolor gravida, placerat libero vel, euismod.
Quam temere in vitiis, legem sancimus haerentia. Quis aute iure reprehenderit in voluptate velit esse. Salutantibus vitae elit libero, a pharetra augue. Unam incolunt Belgae, aliam Aquitani, tertiam. Fabio vel iudice vincam, sunt in culpa qui officia.
Me non paenitet nullum festiviorem excogitasse ad hoc. Contra legem facit qui id facit quod lex prohibet. Contra legem facit qui id facit quod lex prohibet. Quis aute iure reprehenderit in voluptate velit esse. Sed haec quis possit intrepidus aestimare tellus. Ambitioni dedisse scripsisse iudicaretur.
          </p>
        </div>
      </div>
      <h4 id="disc"><i class="fa fa-dot-circle-o"></i> Disc cleaning</h4>
      <div class="panel panel-default">
        <div class="info">
          <p>
            Mercedem aut nummos unde unde extricat, amaras. Curabitur est gravida et libero vitae dictum. Nec dubitamus multa iter quae et nos invenerat. Hi omnes lingua, institutis, legibus inter se differunt. Fabio vel iudice vincam, sunt in culpa qui officia. Non equidem invideo, miror magis posuere velit aliquet.
Idque Caesaris facere voluntate liceret: sese habere. Unam incolunt Belgae, aliam Aquitani, tertiam. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Etiam habebis sem dicantur magna mollis euismod.
Tu quoque, Brute, fili mi, nihil timor populi, nihil! Inmensae subtilitatis, obscuris et malesuada fames. Ut enim ad minim veniam, quis nostrud exercitation. Fabio vel iudice vincam, sunt in culpa qui officia. Phasellus laoreet lorem vel dolor tempus vehicula. Prima luce, cum quibus mons aliud  consensu ab eo.
          </p>
        </div>
      </div>
      <h4 id="volun"><i class="fa fa-users"></i> Volunteering</h4>
      <div class="panel panel-default">
        <div class="info">
          <p>
            Ullamco laboris nisi ut aliquid ex ea commodi consequat. Praeterea iter est quasdam res quas ex communi. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Salutantibus vitae elit libero, a pharetra augue. Non equidem invideo, miror magis posuere velit aliquet.
A communi observantia non est recedendum. Ambitioni dedisse scripsisse iudicaretur. Non equidem invideo, miror magis posuere velit aliquet. Donec sed odio operae, eu vulputate felis rhoncus. Magna pars studiorum, prodita quaerimus.
At nos hinc posthac, sitientis piros Afros. Quo usque tandem abutere, Catilina, patientia nostra? Salutantibus vitae elit libero, a pharetra augue. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>