<div class="col-md-4">
  <div>
    <h4 class="text-center lead">
      <i class="fa fa-<%= blurb.icon %>"></i>
      <%= blurb.title %>
    </h4>
  </div>
  <div>
    <p class="text-center">
      <%= blurb.desc %>
    </p>
  </div>
</div>
