<li style="margin-bottom: 5px;">
  <%= gravatar_for user, size: 65 %>
  <%= link_to user.name, user, style: "font-size: 18px; color: #333333;" %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to user, method: :delete, data: { confirm: "You sure?" }  do %>
      <i class="fa fa-times" style="color: red;"></i>
      <%= link_to edit_user_path(user) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
      <% end %>
  <% end %>
</li>