<% provide(:title, "All users") %>
<div class="row">
  <div class="col-md-12 well well-sm">
    <h2><i class="fa fa-users"></i> All users</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 page">
    <%= will_paginate %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 well well-sm">
    <ul class="users">
      <% @users.each do |user| %>
        <li style="margin-bottom: 5px;">
          <%= gravatar_for user, size: 65 %>
          <%= link_to user.name, user, style: "font-size: 18px; color: #333333;" %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate %>
  </div>
</div>