/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

/* variables */

$grpurple: #9600A3;
$grhover: #7A0085;
$grlink: #CB38D9;

/* universal */

* {
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
  color: #EDEDED !important;
  &:hover {
    color: #FFFFFF !important;
  }
}

a {
  color: $grlink;
  &:hover {
    color: $grpurple;
    text-decoration: none;
  }
}
.inside {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  ul {
    list-style: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  nav li {
    font-size: 75%;
  }
}

.btn-primary {
  background-color: $grpurple;
  border-color: $grpurple;
  &:hover {
    background-color: $grhover;
    border-color: $grhover;
  }
}

.btn-primary[disabled] {
    background-color: #DB9DE0 !important;
    border-color: #DB9DE0 !important;
  }
